<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供者，只配置dubbo的相关内容 -->
    <!-- 声明的项目名 -->
    <dubbo:application name="dongyimai_sellergoods_service" />
    <!-- 配置注册中心地址 -->
    <dubbo:registry address="zookeeper://192.168.188.128:2181" />
    <!-- 注册到dubbo的服务包 -->
    <dubbo:annotation package="com.offcn.sellergoods.service.impl" />



</beans>